In [ ]:
import pandas as pd
file_path = '/content/Task1.xlsx'
df=pd.read_excel(file_path)
print(df.head())

   Операция       Дата     Время  Пользов
0      2006 2018-01-02  23:07:41    30169
1      2006 2018-01-02  23:07:47    30169
2      2006 2018-01-02  23:07:52    30169
3      2006 2018-01-02  23:08:00    30169
4      2006 2018-01-02  23:08:04    30169

In [ ]:
n_rows = len(df.index)
n_columns = len(df.columns)

print(f"Количество строк: {n_rows}")
print(f"Количество столбцов: {n_columns}")

Количество строк: 52921
Количество столбцов: 4

In [ ]:
print("Типы данных в колонках:")
print(df.dtypes)

Типы данных в колонках:
Операция             int64
Дата        datetime64[ns]
Время               object
Пользов              int64
dtype: object

In [ ]:
if sum(df.duplicated()) == 0:
    print("Дубликатов не обнаружено")
else:
    print("Обнаружены дубликаты")

Обнаружены дубликаты

In [ ]:
if sum(df.isnull().values.ravel()) == 0:
    print("Пропусков не обнаружено")
else:
    print("Обнаружены пропуски")

Пропусков не обнаружено

In [ ]:
duplicates = df[df.duplicated()]
print(duplicates)

       Операция       Дата     Время  Пользов
13183        14 2018-01-03  12:07:06    38891
24110      2006 2018-01-03  14:10:03    38830
24263      2006 2018-01-03  14:11:13    38830
24437      2006 2018-01-03  14:11:59    38830
25071      2006 2018-01-03  14:14:10    38830

In [ ]:
users_count = df['Пользов'].value_counts().shape[0]
operations_count = df['Операция'].value_counts().shape[0]
print(users_count)
print(operations_count)

51
39

In [ ]:
print(f"Уникальные пользователи: {df['Пользов'].unique()}")

Уникальные пользователи: [30169 39217 39102 39982 30156 39149 40134 38862 38830 39106 39152 39037
 38840 39022 40138 39478 39328 30159 38982 30161 39094 30172 38891 39068
 39315 30153 39099 39318 39519 39772 38753 30170 38955 30168 39317 39789
 38922 38835 39174 38868 39430 39107 40044 38923 39158 39086 30182 30134
 39084 38962 39143]

In [ ]:
print(f"Уникальные операции: {df['Операция'].unique()}")

Уникальные операции: [2006 2001   14 9001 2002   15 2003    7   27  758 2010  759    0    1
 9003  298    8 3330  860  294  861    6   21    9  416    2 2007   41
   16  552  267  290   22 9002   37  293   19  299    4]

In [ ]:
grouped_df = df.groupby('Пользов')['Операция'].nunique()
user_operation_counts = grouped_df.to_frame('Количество операций').reset_index()
print(user_operation_counts)

    Пользов  Количество операций
0     30134                    4
1     30153                   26
2     30156                   22
3     30159                   26
4     30161                   24
5     30168                   19
6     30169                    8
7     30170                    8
8     30172                   15
9     30182                   10
10    38753                   19
11    38830                   21
12    38835                    9
13    38840                   24
14    38862                    9
15    38868                   19
16    38891                   27
17    38922                   13
18    38923                   12
19    38955                    5
20    38962                   21
21    38982                   18
22    39022                   24
23    39037                   21
24    39068                    9
25    39084                   26
26    39086                    7
27    39094                   11
28    39099                   15
29    39102                   22
30    39106                   20
31    39107                    2
32    39143                    7
33    39149                    7
34    39152                   16
35    39158                    9
36    39174                   10
37    39217                   14
38    39315                   25
39    39317                   10
40    39318                   25
41    39328                   21
42    39430                   12
43    39478                   11
44    39519                    9
45    39772                   12
46    39789                   12
47    39982                    7
48    40044                    8
49    40134                   24
50    40138                   12

In [ ]:
current_date = pd.to_datetime('today').date()
df['Время'] = pd.to_datetime(df['Время'].apply(lambda x: f'{current_date} {x}'))
df = df.sort_values(by=['Пользов', 'Время'])
df['Продолжительность'] = df.groupby('Пользов')['Время'].diff().shift(-1)
df['Продолжительность'] = df['Продолжительность'].dt.total_seconds() / 60
df = df[df['Продолжительность'] <= 20]
median_duration = df.groupby('Операция')['Продолжительность'].median()
median_duration_str = median_duration.apply(lambda x: str(pd.to_timedelta(x, unit='m')))
print("DataFrame с продолжительностью операций в минутах (без операций длиннее 20 минут):")
print(df)
print("\nМедианное время продолжительности каждой операции (в минутах):")
print(median_duration)
print (median_duration_str)

<ipython-input-42-e92ca3b9dedb>:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Время'] = pd.to_datetime(df['Время'].apply(lambda x: f'{current_date} {x}'))

DataFrame с продолжительностью операций в минутах (без операций длиннее 20 минут):
       Операция       Дата                     Время  Пользов  \
33432        15 2018-01-09 2024-08-01 08:42:28-01:00    30134
33445        15 2018-01-09 2024-08-01 08:45:17-01:00    30134
33508        15 2018-01-09 2024-08-01 09:02:12-01:00    30134
33520        15 2018-01-09 2024-08-01 09:04:17-01:00    30134
33539        15 2018-01-09 2024-08-01 09:05:36-01:00    30134
...         ...        ...                       ...      ...
42873      2002 2018-01-09 2024-08-01 18:26:58-01:00    40138
51552      2001 2018-01-10 2024-08-01 18:27:21-01:00    40138
51562      3330 2018-01-10 2024-08-01 18:28:42-01:00    40138
51567      2001 2018-01-10 2024-08-01 18:28:58-01:00    40138
51592      2001 2018-01-10 2024-08-01 18:33:15-01:00    40138

       Продолжительность
33432           2.816667
33445          16.916667
33508           2.083333
33520           1.316667
33539           0.483333
...                  ...
42873           0.383333
51552           1.350000
51562           0.266667
51567           4.283333
51592           2.816667

[52465 rows x 5 columns]

Медианное время продолжительности каждой операции (в минутах):
Операция
0       0.216667
1       0.050000
2       0.441667
4       2.500000
6       0.150000
7       0.133333
8       0.366667
9       1.366667
14      0.016667
15      0.150000
16      0.466667
19      0.083333
21      0.433333
22      0.633333
27      1.041667
37      0.916667
41      0.191667
267     0.050000
290     0.516667
293     1.091667
294     0.500000
298     0.533333
299     0.050000
416     0.208333
552     0.083333
758     0.016667
759     0.016667
860     0.233333
861     0.150000
2001    0.233333
2002    0.100000
2003    0.233333
2006    0.050000
2007    0.050000
2010    0.116667
3330    0.133333
9001    0.166667
9002    0.350000
9003    0.183333
Name: Продолжительность, dtype: float64
Операция
0       0 days 00:00:13.000000002
1                 0 days 00:00:03
2       0 days 00:00:26.500000002
4                 0 days 00:02:30
6                 0 days 00:00:09
7       0 days 00:00:07.999999998
8       0 days 00:00:22.000000002
9       0 days 00:01:22.000000002
14      0 days 00:00:01.000000002
15                0 days 00:00:09
16      0 days 00:00:28.000000002
19      0 days 00:00:04.999999998
21      0 days 00:00:25.999999998
22      0 days 00:00:37.999999998
27      0 days 00:01:02.500000002
37      0 days 00:00:55.000000002
41      0 days 00:00:11.500000002
267               0 days 00:00:03
290     0 days 00:00:31.000000002
293     0 days 00:01:05.500000002
294               0 days 00:00:30
298     0 days 00:00:31.999999998
299               0 days 00:00:03
416     0 days 00:00:12.499999998
552     0 days 00:00:04.999999998
758     0 days 00:00:01.000000002
759     0 days 00:00:01.000000002
860     0 days 00:00:13.999999998
861               0 days 00:00:09
2001    0 days 00:00:13.999999998
2002              0 days 00:00:06
2003    0 days 00:00:13.999999998
2006              0 days 00:00:03
2007              0 days 00:00:03
2010    0 days 00:00:07.000000002
3330    0 days 00:00:07.999999998
9001    0 days 00:00:10.000000002
9002              0 days 00:00:21
9003    0 days 00:00:10.999999998
Name: Продолжительность, dtype: object

In [ ]:
median_df = pd.DataFrame({
    'Операция': median_duration.index,
    'Медианное время (минуты)': median_duration.values,
    'Медианное время (hh:mm:ss)': median_duration_str.values
})
median_df.to_excel('median_durations.xlsx', index=False)